<!-- Tabs Start-->
<div class="common_tabs">
    <nav class="mb-5">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="active" aria-selected="true">
            Active
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="inactive-tab" data-bs-toggle="tab" data-bs-target="#inactive" type="button" role="tab" aria-controls="inactive" aria-selected="false">
            Inactive
          </button>
        </li>
      </ul>
    </nav>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
        <div class="mb-4">
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                  <div class="row">
                    <div class="col-lg-4">
                        <img src="assets/images/rmc_60.png" alt="company logo" class="img-fluid mb-3" width="70px" />
                    </div>
                    <div class="col-lg-8">
                        <h6 class="mb-1">Deep Red Ink</h6>
                        <p class="mb-3">Lorem ipsum dolor</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="tab-pane fade" id="inactive" role="tabpanel" aria-labelledby="inactive-tab">
        <div class="card">
          <h4>Inactive</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Tabs End-->