@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Common CSS Starts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 500;
    color: #000000;
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: #000000;
}

h5 {
    font-size: 18px;
}

h6 {
    font-weight: 400;
    color: #000000;
    font-size: 18px;
}

a {
    color: #000000;
}

a:hover,
a:focus {
    color: #000000;
}

.text-blue {
    color: #063240;
}

.text-black {
    color: #000;
}

section {
    padding: 60px 0px;
}

@media (max-width: 480px) {
    section {
        padding: 40px 10px;
    }
}

/* Common CSS ENDS */

/*slider css : BEGIN*/

.slider-container {
    position: relative;
}

.slick-arrow {
    background: transparent;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #707070;
    z-index: 1;
    border: 1px solid #707070;
    font-size: 0;
    outline: none;
    font-family: "Font Awesome 6 Free";
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    /* padding-left: 11px; */
}

.slick-arrow:hover {
    background: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 425px) {
    .slick-arrow {
        top: -30px;
    }
}

/* @media (max-width: 1024px) {
  .slick-arrow.slick-prev {
    left: -10px;
  }
} */

/* @media (max-width: 768px) {
  .slick-arrow.slick-prev {
    left: 0;
  }
} */

.slick-arrow.slick-prev:before {
    font-family: "Font Awesome 6 Free";
    content: "\f060";
    font-weight: 900;
    color: #707070;
    font-size: 16px;
    line-height: 2.2;
}

.featured-properties-slider .slick-arrow.slick-next {
    right: -1.8%;
}
.featured-properties-slider .slick-arrow.slick-prev {
    left: -1.8%;
}
.three_slider .slick-arrow.slick-next {
    top: -105%;
    right: 1%;
}
.three_slider .slick-arrow.slick-prev {
    top: -105%;
    right: 5%;
}

.three_slider .slick-slide {
    margin: 0.7rem;
}

.slick-arrow.slick-next {
    right: -50px;
}

@media (max-width: 1024px) {
    .three_slider .slick-arrow.slick-next {
        top: -110%;
        right: 0.5%;
    }

    .slick-slide {
        margin: 0.5rem;
    }
}

@media (max-width: 768px) {
    .three_slider .slick-arrow.slick-next {
        top: -110%;
        right: 2.5%;
    }
    .three_slider .slick-arrow.slick-prev {
        top: -110%;
        right: 12%;
    }

    .three_slider .slick-slide {
        margin: 0.5rem;
    }
}

.slick-arrow.slick-next:before {
    font-family: "Font Awesome 6 Free";
    content: "\f061";
    font-weight: 900;
    color: #707070;
    font-size: 16px;
    line-height: 2.2;
}

.slick-arrow.slick-prev:hover::before,
.slick-arrow.slick-next:hover::before {
    color: #fff;
}

.slick-dots {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li:only-child {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before,
.slick-dots li button::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0px;
    left: 0px;
    margin: auto auto;
    width: 6px;
    height: 6px;
    background: none;
    background: #707070;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active button::before {
    background: #000000;
    width: 12px;
    height: 12px;
}

.floorplans-slider .slick-track {
    margin-left: inherit;
}

/*slider css : END*/

/* Header CSS Starts */

header {
    background: #000000;
    padding: 10px;
}
.header-logo {
    width: 215px;
}
.navbar .nav-link {
    color: #fff;
    padding: 5px 10px !important;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 300;
}

.dropdown-menu h5 {
    padding: 0 0.5rem;
}

.dropdown-item {
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    white-space: break-spaces;
}

.dropdown-item:hover {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        min-width: max-content;
    }
    .nav-item:hover .nav-link {
        background: #fff;
        color: #000 !important;
    }
    .nav-item.dropdown:hover .nav-link {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .dropdown:hover .dropdown-menu {
        left: initial;
        right: 0;
        margin-top: -1px;
        margin-right: -1px;
        border-top: 0;
        border-top-right-radius: 0px;
    }
}

@media (max-width: 768px) {
    .navbar .nav-link {
        text-align: right;
        padding: 5px 0px !important;
    }
    .dropdown-menu {
        border-radius: 0;
        background: #ffffffcc;
    }
    .dropdown-menu h5 {
        text-align: right;
    }
    .dropdown-item {
        text-align: right;
    }
}

/* Header CSS Ends */

/* Footer Css Starts */

.footer-before-sec {
    background: #000000;
    padding: 30px 0px;
}

footer {
    background: #000000;
}

footer p {
    line-height: 1.2;
}

.footer-col .list-heading {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-links-list {
    padding-left: 0;
    list-style-type: none;
    line-height: 1.3;
    margin-bottom: 0;
}

.footer-links-list li a {
    color: #ffffffcc;
}

.social-links ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
}

.social-links ul li a {
    color: #ffffffcc;
    font-size: 18px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.social-links ul li:hover a {
    background: #ddd;
    transition: 0.3s all ease-in-out;
    color: #000;
    transition: 0.3s all ease-in-out;
}

.inline-links {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.inline-links li {
    position: relative;
}

.inline-links li:not(:last-child)::before {
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 70%;
    width: 1px;
    background: #fff;
}

@media (max-width: 1024px) {
    .social-links ul {
        gap: 5px;
    }
    .social-links ul li a {
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .social-links ul {
        gap: 2px;
    }
}

@media (max-width: 480px) {
    .footer-before-sec {
        padding: 40px 10px 20px 10px;
    }
    footer {
        padding: 0px 10px;
    }
}

/* Footer CSS Ends */

/* Projects CSS Starts */

.rating-display-wrapper .inline-links li:not(:last-child)::before {
    background: #000;
}

.project-overview-images-wrapper,
.highlights-images-wrapper {
    overflow: hidden;
}

.project-overview-images-wrapper img,
.highlights-images-wrapper img {
    transition: 0.3s all ease-in-out;
}

.project-overview-images-wrapper:hover img,
.highlights-images-wrapper:hover img {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

.highlights-images-wrapper {
    position: relative;
}

.highlights-images-text {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 20px 30px;
    width: 100%;
}

.highlights-images-text .hover-text {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100%;
}

.highlights-images-text:hover .hover-text {
    opacity: 1;
}

.customised-tabs .nav.nav-tabs {
    border: 0;
    gap: 15px;
}

.customised-tabs .nav.nav-tabs .nav-link {
    border: 0;
    border-radius: 0;
    padding: 5px 45px;
    background: #c4b4b4;
    color: #000;
    font-size: 18px;
}

.customised-tabs .nav.nav-tabs .nav-link.active,
.customised-tabs .nav.nav-tabs .nav-link:hover {
    background: #e5d3d3;
}

.floorplans-images-wrapper .floorplans-image {
    padding: 10px 0px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.zoom-text {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 999;
    opacity: 0;
}

.floorplans-images-wrapper:hover .zoom-text {
    opacity: 1;
}

.floorplans-images-wrapper:hover .floorplans-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 70%);
    z-index: 99;
}

.floorplans-images-wrapper img {
    transition: 0.3s all ease-in-out;
}

.floorplans-images-wrapper:hover img {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

.floorplans-info-text {
    padding: 0px 30px;
}

@media (max-width: 480px) {
    .customised-tabs .nav.nav-tabs .nav-link {
        padding: 5px 15px;
        font-size: 15px;
    }
}

.star-rating {
    direction: rtl;
    font-size: 35px;
    cursor: pointer;
}

.star {
    color: #ffcc00;
    transition: color 0.3s ease;
}

.star:hover,
.star:hover ~ .star {
    color: #ffcc00;
}

.star.selected,
.star.selected ~ .star {
    color: #ffcc00;
}

.custom-list {
    list-style-type: none;
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 12px;
}

.custom-list li::before {
    content: ">";
    position: absolute;
    left: 0;
}

.star-rating .star {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

.star-rating .star.filled {
    color: #f39c12;
}

.review-rating i {
    color: #f39c12;
}

.bg-custom-btn {
    background-color: #111b21;
    color: #fff;
    border: 1px solid #111b21 !important;
    border-radius: 0;
}
.bg-custom-btn:hover {
    background-color: #fff;
    color: #111b21;
}
.form-control {
    border-width: 2px;
    border-radius: 0;
    padding: 0.75rem 0.75rem;
}
.filter_bg .form-select {
    border-width: 2px;
    padding: 0.25rem 0.55rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: none !important;
    font-size: 14px;
}
.filter_bg .form-select:focus{
    border: 1px solid #ddd !important;
}
.filter_bg .form-select option:checked{
    background-color: #ddd;
    color: #000;
}
.iti {
    display: block;
    position: relative;
    width: 100%;
}
.iti__flag-container .iti__selected-flag {
    height: 49px !important;
    background-color: #ddd !important;
    border-radius: 0px;
}
label.error {
    color: red;
    margin-top: 10px;
}

.project-card-wrapper {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 25px;
}
.project-image-wrapper {
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}
.project-image-wrapper img {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
.project-card-wrapper:hover .project-image-wrapper img {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
.project-details-wrapper p {
    font-size: 14px;
}
.project-details-wrapper .price-info {
    text-align: left;
    color: #ffa73d;
    font-size: 15px;
    padding: 16px 0 0;
    font-weight: 500;
    text-transform: capitalize;
}

/* Home page Main Banner CSS Start */
.main_bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
        url("../img/perfect-living-hyderabad-banner.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 40vh;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.3s ease-in-out;
    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -ms-transition: background-image 0.3s ease-in-out;
    -o-transition: background-image 0.3s ease-in-out;
}

.main_bg form input {
    box-shadow: none !important;
    border: 1px solid #404040 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* Home page Main Banner CSS End */

.home_tab_sec .nav-pills {
    margin-bottom: 4rem;
}

.home_tab_sec .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #000 !important;
    color: #fff !important;
}
.home_tab_sec .nav-pills .nav-link:hover {
    background: #000;
    color: #fff !important;
}
.home_tab_sec .nav-pills .nav-link {
    background: #ececec;
    color: #000 !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    padding: 15px 40px;
}

/* .home_tab_sec .nav-pills .nav-link:hover{
  background-color: #000;
  color: #fff;
} */

@media (max-width: 500px) {
    .home_tab_sec .nav-pills .nav-link {
        padding: 5px 10px;
        font-size: 14px;
    }
}

/* sub_menu_footer */
.sub_menu_footer {
    background-color: #444444;
}

.sub_menu_footer h6 {
    color: #f5f5f5;
    margin-bottom: 1rem;
}
.sub_menu_footer ul li {
    margin-bottom: 0.6rem;
}

.sub_menu_footer ul li a {
    color: #b7b7b7;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}

.sub_menu_footer ul li a:hover {
    color: #fff;
}
.border-end {
    border-right: 1px solid #707070 !important;
}

.filter_bg {
    background-color: #f8f9fa;
}
.bg-grey {
    background-color: #e4e4e4;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
