@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Common CSS Starts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

main {
    min-height: 60vh;
}

h1 {
    font-weight: 500;
    color: #000000;
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: #000000;
}

h5 {
    font-size: 18px;
}

h6 {
    font-weight: 300;
    color: #000000;
    font-size: 15px;
}

a {
    color: #000000;
}

a:hover,
a:focus {
    color: #000000;
}

.text-blue {
    color: #063240;
}

.text-black {
    color: #000;
}

.text-brand {
    color: #e40048;
}

.bg-yellow {
    background: #fffbe8;
}

.bg-brand {
    background: #e40048;
}

.border-brand {
    border: 1px solid #e40048;
}

.container {
    padding: 40px 15px;
}

@media (max-width: 480px) {
    .container {
        padding: 30px 20px;
    }
}

.btn.btn-brand {
    background: #e40048;
    border: 1px solid #e40048;
    color: #fff;
    border-radius: 0;
}

.btn.btn-brand:hover {
    background: #fff;
    color: #e40048;
}

.pos-relative {
    position: relative;
}


/* Common CSS ENDS */


/*slider css : BEGIN*/

.slider-container {
    position: relative;
}

.slick-track {
    margin-left: inherit;
}

.slick-arrow {
    background: transparent;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #707070;
    z-index: 1;
    border: 1px solid #707070;
    font-size: 0;
    outline: none;
    font-family: "Font Awesome 6 Free";
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    /* padding-left: 11px; */
}

.slick-arrow:hover {
    background: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 425px) {
    .slick-arrow {
        top: -30px;
    }
}

.slick-arrow.slick-prev:before {
    font-family: "Font Awesome 6 Free";
    content: "\f060";
    font-weight: 900;
    color: #707070;
    font-size: 16px;
    line-height: 2.2;
}

.slick-arrow.slick-prev {
    left: -50px;
}

.slick-arrow.slick-next {
    right: -50px;
}

@media (max-width: 1024px) {
    .slick-slide {
        margin: 0.5rem;
    }
    .expertise-col.slick-slide {
        margin: 0.2rem;
    }
}

.slick-arrow.slick-next:before {
    font-family: "Font Awesome 6 Free";
    content: "\f061";
    font-weight: 900;
    color: #707070;
    font-size: 16px;
    line-height: 2.2;
}

.slick-arrow.slick-prev:hover::before,
.slick-arrow.slick-next:hover::before {
    color: #fff;
}

.slick-dots {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li:only-child {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before,
.slick-dots li button::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0px;
    left: 0px;
    margin: auto auto;
    width: 6px;
    height: 6px;
    background: none;
    background: #707070;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active button::before {
    background: #000000;
    width: 12px;
    height: 12px;
}

.floorplans-slider .slick-track {
    margin-left: inherit;
}


/*slider css : END*/


/* Header CSS Starts */

header {
    background: #000000;
    padding: 10px;
}

.header-logo {
    width: 215px;
}

.navbar .nav-link {
    color: #fff;
    padding: 5px 10px !important;
    font-size: 15px;
    font-weight: 300;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.navbar .nav-link:focus {
    color: #fff;
}

.dropdown-menu h5 {
    padding: 0 0.5rem;
}

.dropdown-item {
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    white-space: break-spaces;
    color: #fff
}

.dropdown-menu {
    min-width: max-content;
    background: #000;
}

@media (min-width: 1024px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown:hover .dropdown-menu {
        left: initial;
        right: 0;
        margin-top: -1px;
        margin-right: -1px;
        border-top: 0;
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .navbar .nav-link {
        text-align: right;
        padding: 5px 0px !important;
        color: #fff !important;
    }
    .dropdown-menu {
        background: #ffffffcc;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .dropdown-menu h5 {
        text-align: right;
    }
    .dropdown-item {
        text-align: right;
    }
}


/* Header CSS Ends */


/* Footer Css Starts */

.footer-before-sec {
    background: #000000;
    padding: 30px 0px;
}

footer {
    background: #000000;
}

footer p {
    line-height: 1.2;
    font-size: 12px;
}

.social-links ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
}

.social-links ul li a {
    color: #ffffffcc;
    font-size: 18px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.social-links ul li:hover a {
    background: #ddd;
    transition: 0.3s all ease-in-out;
    color: #000;
    transition: 0.3s all ease-in-out;
}

.inline-links {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.inline-links li {
    position: relative;
    font-size: 12px;
}

.inline-links li:not(:last-child)::before {
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 70%;
    width: 1px;
    background: #fff;
}

@media (max-width: 1024px) {
    .social-links ul {
        gap: 5px;
    }
    .social-links ul li a {
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .social-links ul {
        gap: 2px;
    }
}

@media (max-width: 480px) {
    .footer-before-sec {
        padding: 40px 10px 20px 10px;
    }
}


/* Footer CSS Ends */


/* Projects CSS Starts */

.project-details-main-info {
    display: flex;
    align-items: end;
    gap: 20px;
}

.rating-display-wrapper .inline-links li:not(:last-child)::before {
    background: #000;
}

.rating-display-wrapper {
    display: flex;
    align-items: end;
    gap: 20px;
}

.star-rating {
    direction: rtl;
    font-size: 20px;
    cursor: pointer;
}

.star {
    color: #e40048;
    transition: color 0.3s ease;
}

.star:hover,
.star:hover~.star {
    color: #e40048;
}

.star.selected,
.star.selected~.star {
    color: #e40048;
}

.feature-badges-wrapper h6 {
    font-weight: 500;
}

@media(max-width: 480px) {
    .project-details-main-info,
    .rating-display-wrapper {
        display: initial;
    }
    .star-rating {
        font-size: 18px;
    }
    .wishlist-wrapper {
        text-align: right;
        margin-bottom: -45px;
        position: relative;
        top: 15px;
    }
}

.project-overview-images-wrapper {
    height: 350px;
}

.project-overview-images-wrapper img {
    height: 350px;
    object-fit: cover;
}

.sub-project-overview-images-wrapper {
    height: 111px;
}

.sub-project-overview-images-wrapper img {
    height: 111px;
    object-fit: cover;
}

@media(max-width:480px) {
    .project-overview-images-wrapper {
        height: 250px;
    }
    .project-overview-images-wrapper img {
        height: 250px;
        object-fit: cover;
    }
    .sub-project-overview-images-wrapper {
        height: 55px;
    }
    .sub-project-overview-images-wrapper img {
        height: 55px;
        object-fit: cover;
    }
}

.sub-project-overview-images-wrapper,
.project-overview-images-wrapper,
.highlights-images-wrapper {
    overflow: hidden;
}

.sub-project-overview-images-wrapper img,
.project-overview-images-wrapper img,
.highlights-images-wrapper img {
    transition: 0.3s all ease-in-out;
}

.sub-project-overview-images-wrapper:hover img,
.project-overview-images-wrapper:hover img,
.highlights-images-wrapper:hover img {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

.highlights-images-wrapper {
    position: relative;
}

.highlights-images-text {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 20px 30px;
    width: 100%;
}

.highlights-images-text .hover-text {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100%;
}

.highlights-images-text:hover .hover-text {
    opacity: 1;
}

.customised-tabs .nav.nav-tabs {
    border: 0;
    gap: 15px;
}

.customised-tabs .nav.nav-tabs .nav-link {
    border: 0;
    padding: 5px 45px;
    background: #c4b4b4;
    color: #000;
    font-size: 18px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.customised-tabs .nav.nav-tabs .nav-link.active,
.customised-tabs .nav.nav-tabs .nav-link:hover {
    background: #e5d3d3;
}

.floorplans-images-wrapper .floorplans-image {
    padding: 10px 0px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.zoom-text {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 999;
    opacity: 0;
}

.floorplans-images-wrapper:hover .zoom-text {
    opacity: 1;
}

.floorplans-images-wrapper:hover .floorplans-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 70%);
    z-index: 99;
}

.floorplans-images-wrapper img {
    transition: 0.3s all ease-in-out;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.floorplans-images-wrapper:hover img {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

.floorplans-info-text {
    padding: 0px 30px;
}

@media (max-width: 480px) {
    .customised-tabs .nav.nav-tabs .nav-link {
        padding: 5px 15px;
        font-size: 15px;
    }
}

.custom-list {
    list-style-type: none;
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 12px;
}

.custom-list li::before {
    content: ">";
    position: absolute;
    left: 0;
}

.star-rating .star {
    font-size: 1.2rem;
    color: #ddd;
    cursor: pointer;
}

.star-rating .star.filled {
    color: #e40048;
}

.review-rating i {
    color: #e40048;
}

.bg-custom-btn {
    background-color: #e40048;
    color: #fff;
    border: 1px solid #e40048 !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 6px 30px;
    width: fit-content;
}

.bg-custom-btn:hover {
    background-color: #fff;
    color: #e40048;
}

.form-control {
    border-width: 1px;
    padding: 0.50rem 0.75rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 14px;
}

.form-select {
    border-radius: 0;
}

.filter_bg .form-select {
    border-width: 2px;
    padding: 0.25rem 0.55rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: none !important;
    font-size: 14px;
}

.filter_bg .form-select:focus {
    border: 1px solid #ddd !important;
}

.filter_bg .form-select option:checked {
    background-color: #ddd;
    color: #000;
}

@media(max-width: 480px) {
    .form-select {
        font-size: 12px;
    }
}

.iti {
    display: block;
    position: relative;
    width: 100%;
}

.iti__flag-container .iti__selected-flag {
    height: 37px !important;
    background-color: #ddd !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

label.error {
    color: red;
    margin-top: 10px;
}

.project-card-wrapper {
    border: 1px solid #ddd;
    margin-bottom: 25px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.project-image-wrapper {
    object-fit: cover;
    /* border-top-left-radius: 5px; */
    /* border-bottom-left-radius: 5px; */
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card_one .project-image-wrapper img {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    width: 100%;
    height: 172px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card_two .project-image-wrapper img {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* .project-image-wrapper img {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    width: 100%;
    height: 250px;
    object-fit: cover;
} */

.project-card-wrapper:hover .project-image-wrapper img {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.project-details-wrapper p {
    font-size: 14px;
}

.project-details-wrapper .price-info {
    text-align: left;
    color: #e40048;
    font-size: 15px;
    padding: 16px 0 0;
    font-weight: 500;
    text-transform: capitalize;
}


/* Home page Main Banner CSS Start */

.main_bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("../img/perfect-living-hyderabad-banner.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 40vh;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.3s ease-in-out;
    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -ms-transition: background-image 0.3s ease-in-out;
    -o-transition: background-image 0.3s ease-in-out;
}

.main_bg form input {
    box-shadow: none !important;
    border: 1px solid #404040 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#searchForm .btn_black {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Home page Main Banner CSS End */

.home_tab_sec .nav-pills {
    margin-bottom: 4rem;
}

.home_tab_sec .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #000 !important;
    color: #fff !important;
}

.home_tab_sec .nav-pills .nav-link:hover {
    background: #000;
    color: #fff !important;
}

.home_tab_sec .nav-pills .nav-link {
    background: #cdcdcd;
    color: #000 !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    padding: 15px 40px;
}


/* .home_tab_sec .nav-pills .nav-link:hover{
  background-color: #000;
  color: #fff;
} */

@media (max-width: 500px) {
    .home_tab_sec .nav-pills .nav-link {
        padding: 5px 10px;
        font-size: 14px;
    }
}


/* sub_menu_footer */

.sub_menu_footer {
    background-color: #444444;
}

.sub_menu_footer h6 {
    color: #f5f5f5;
    margin-bottom: 1rem;
}

.sub_menu_footer ul li {
    margin-bottom: 0;
}

.sub_menu_footer ul li a {
    color: #b7b7b7;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}

.sub_menu_footer ul li a:hover {
    color: #fff;
}

.border-end {
    border-right: 1px solid #cdcdcd;
}

@media(max-width: 480px) {
    .border-end {
        border-right: 0 !important;
    }
}

.filter_bg {
    background-color: #f8f9fa;
}

.bg-grey {
    background-color: #e4e4e4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0px;
}

.main_bg .dropdown-menu {
    height: 200px;
    overflow-y: scroll;
    min-height: 100%;
}

.main_bg .dropdown-menu h5 {
    padding: 0 0.5rem;
}

.main_bg .dropdown-item {
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    white-space: break-spaces;
}

.main_bg .dropdown-item:hover {
    text-decoration: underline;
}

.btn_black {
    background-color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
}

.btn_black:hover {
    background-color: #fff;
    color: #000;
}

@media(max-width: 480px) {
    .btn_black {
        font-size: 12px;
    }
    .clear_all {
        font-size: 12px;
    }
}


/* Login Page CSS Begins */

.login-card {
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 9px -3px #ddd;
}

.login-card p {
    color: #979393;
}

.border-radius-0 {
    border-radius: 0;
}

.btn-createaccount {
    border: 1px solid #ddd !important;
    font-size: 14px;
}

.btn-createaccount:hover {
    background: #f3f3f3;
}

.no-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


/* Login Page CSS Ends */


/* Amenities CSS Begins */

.expertise-col {
    /* width: 20%; */
    text-align: center;
    /* padding: 0 10px;
    margin-bottom: 20px;
    height: 100%; */
}

.expertise-col img {
    width: 60px;
    margin: auto;
    height: auto;
}

.amenities-icon {
    border: 1px solid #ddd;
    padding: 20px;
    height: 100%;
}

.amenities-icon:hover {
    border: 1px solid #e40048;
}

.amenities-icon p {
    padding-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.2;
}

@media (max-width: 480px) {
    .expertise-col {
        /* width: 50%;
        padding: 0; */
    }
    .expertise-col img {
        width: 40px;
    }
    .amenities-icon {
        padding: 10px 12px;
    }
    .amenities-icon p {
        font-size: 11px;
    }
}


/* Amenities CSS ENDS */

.wishlist-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e40048;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    opacity: 1 !important;
    color: #fff;
    border-radius: 50%;
}


/* Smooth scaling transition */

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: scale(0.8);
    /* Shrink on initial state */
}

.modal.fade.show .modal-dialog {
    transform: scale(1);
    /* Expand to full size */
}


/* Control the modal backdrop fade timing if needed */

.modal-backdrop {
    transition: opacity 0.3s ease-in-out;
}

#cookieModal p {
    font-size: 14px;
    font-weight: 400;
}

.img-placeholder-banner {
    background-image: url('https://i.imgur.com/lqNUZwI.png');
    background-size: cover;
    background-position: center;
    min-width: 610px;
    /* Set your desired width */
    min-height: 440px;
    /* Set your desired height */
}

.img-placeholder-slider {
    background-image: url('https://i.imgur.com/lqNUZwI.png');
    background-size: cover;
    background-position: center;
    min-width: 203px;
    /* Set your desired width */
    min-height: 111px;
    /* Set your desired height */
}